{% extends "base.html" %}
{% block base %}

<!--<form action="/short/create/" accept-charset="UTF-8" data-remote="true" method="POST">-->
<form  action="{% url 'shorts:create' %}" accept-charset="UTF-8" data-remote="true" method="POST">
    {% csrf_token %}
    <div class="input-group m-3">
        <div class="input-group-prepend">
            <span class="input-group-text bg-white text-primary">Long URL</span>
        </div>
        <input type="text" class="form-control" name="long_url" placeholder="Enter Long URL"/>
    </div>
    <div class="input-group m-3">
        <div class="input-group-prepend">
            <span class="input-group-text bg-white text-primary">Short URL</span>
        </div>
        <input type="text" class="form-control" name="short_url" id="short_url" value="http://junny-jtj0525.c9users.io:8080/shorts/"/>
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" onclick="copy_url()">copy</button>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div id="state"></div>
        <input type="submit" class="btn btn-primary" value="Shorten"/>
    </div>
</form>


<script>
    function copy_url() {
      var copyText = document.getElementById("short_url");
      copyText.select();
      document.execCommand("copy");
    }
</script>
{% endblock %}